[Desktop Entry]
Name=GtkHash
GenericName=Checksum Calculator
GenericName[ca]=Calculadora de la suma de verificació
GenericName[da]=Tjeksum-udregner
GenericName[de]=Prüfsummenrechner
GenericName[el]=Υπολογιστής  Αθροίσματος Ελέγχου
GenericName[en_GB]=Checksum Calculator
GenericName[es]=Calculadora de la suma de verificación
GenericName[fr]=Calculateur de somme de contrôle
GenericName[hu]=Ellenőrzőösszeg számoló
GenericName[ja]=チェックサム計算機
GenericName[lt]=Kontrolinės sumos skaičiuotuvas
GenericName[nb_NO]=Sjekksum-kalkulator
GenericName[nl]=Controlesomberekening
GenericName[nl_BE]=Controlesomberekening
GenericName[pl]=Kalkulator sum kontrolnych
GenericName[pt_BR]=Calculadora Checksum
GenericName[ru]=Калькулятор контрольных сумм
GenericName[sv]=Kontrollsummeberäknare
GenericName[zh_CN]=校验和计算器
GenericName[zh_TW]=資料校驗值計算器
Comment=Calculate message digests or checksums
Comment[ca]=Calcula resums de missatges o sumes de verificació
Comment[da]=Udregn fingeraftryk eller tjeksummer
Comment[de]=Berechnet Message Digest oder Prüfsummen
Comment[el]=Υπολογίστε συνόψεις μηνυμάτων ή  αθροίσματα ελέγχου
Comment[en_GB]=Calculate message digests or checksums
Comment[es]=Calcular resúmenes de mensajes o sumas de verificación
Comment[et]=Kontrollsummade kalkulaator
Comment[fr]=Calculer des empreintes numériques ou des sommes de contrôle
Comment[ja]=メッセージダイジェストやチェックサムの計算
Comment[lt]=Apskaičiuoti žinučių maišos reikšmes ar kontrolines sumas
Comment[nb_NO]=Kalkuler meldingsføljetonger eller sjekksummer
Comment[nl]=Berichtdigests of controlesommen berekenen
Comment[nl_BE]=Berichtdigests of controlesommen berekenen
Comment[pl]=Obliczanie skrótów wiadomości i sum kontrolnych
Comment[pt_BR]=Calcular resumos de mensagens ou somas de verificação (checksums)
Comment[ru]=Вычисление дайджестов или контрольных сумм
Comment[sv]=Beräkna meddelandesammandrag eller kontrollsummor
Comment[zh_CN]=计算信息摘要或校验和
Comment[zh_TW]=計算訊息摘要或資料校驗值
Keywords=hash;checksum;digest;md5;sha1;sha256;crc32;
TryExec=gtkhash
Exec=gtkhash %U
Icon=gtkhash
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Security;GTK;
